<!doctype html>
<html lang="ja">
  <head>
    <title>{% title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/js/common.js"></script>
    <link href="./css/style.css" rel="stylesheet" vite-ignore />
  </head>

  <body class="bg-dark">
    <nav
      class="navbar navbar-expand-md bg-dark border-bottom border-bottom-dark fixed-top"
      data-bs-theme="dark"
      id="navBar"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="https://bicpema.com/">Bicpema</a>
        <span class="text-light fw-lighter">{% title %}</span>
      </div>
    </nav>

    <div class="container-fluid" id="p5Container">
      <div id="p5Canvas"></div>

      <!-- <div id="graph" class="rounded border border-1">
            <canvas id="graphCanvas"></canvas>
        </div> -->
    </div>
    <script
      language="javascript"
      type="text/javascript"
      src="./js/elementFunction.js"
      vite-ignore
    ></script>
    <script
      language="javascript"
      type="text/javascript"
      src="./js/function.js"
      vite-ignore
    ></script>
    <script
      language="javascript"
      type="text/javascript"
      src="./js/class.js"
      vite-ignore
    ></script>
    <script
      language="javascript"
      type="text/javascript"
      src="./js/init.js"
      vite-ignore
    ></script>
    <script
      language="javascript"
      type="text/javascript"
      src="./js/index.js"
      vite-ignore
    ></script>
    <script
      language="javascript"
      type="text/javascript"
      src="./js/graph.js"
      vite-ignore
    ></script>
  </body>
</html>
